<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="tour_db"
         providerName="Npgsql"
       connectionString="Include Error Detail=True;Host=localhost;Port=5432;Username=postgres;Password=postgres;Database=tour_db" />
	</connectionStrings>
</configuration>